<main class="margin">
  <h2 class="title is-3">Data and Privacy</h2>


    <h3 class="title is-4">Privacy / Data / Terms</h3>
    <p class="block">The purpose of this statement is to explain to you what data is being collected from users and how we may use it. We do not sell, rent or exchange your personal information with any third party. 
    </p>



  <h3 class="title is-4">Citizen Science Vaisigano</h3>
  
  <p class="block">
    Citizen Science Vaisigano is a free to use prototype citizen science application for river water quality in Samoa. 
  </p>



  <h3 class="title is-4">Your Data and Contributions</h3>
  <p class="block">
    Your contributions, username and profile information are public and available for others to view and use.
  </p>



  <h4 class="title is-5">Contributions</h4>
  <p class="block">
    You can contribute by adding observations, measurements and comments about a range of data by filling in a questionaire, form or survey. All of these data points are considered your contributions. 
  </p>

  <h4 class="title is-5">Logins</h4>
  <p class="block">
    The registered email address for your account will never be published anywhere, shared with third party organisations or revealed directly to other logged in users. Only administrators have direct access to email address data. Emails are stored to aid you in signing in. Emails will only be sent to your email address to aid in password recovery and in important and essential communication about your account.
  </p>


  <h3 class="title is-4">How does Citizen Science Vaisigano use your data?</h3>
  <p class="block">
    We do not sell, rent or exchange your personal information with any third party. <br />
    The contributions and data that you make are stored on our servers and are open in that are publicly accessible. We may share and use this information to process, validate and analyse by automatic or manual means for the purposes of river water quality health.  

  </p>

  <h3 class="title is-4">How Can You Delete Your Data or Account?</h3>
  <p class="block">
    Your contributions are open and public. <br />

    Users can delete their account at any time, by clicking on the "Edit Profile" link on your user page and clicking the "cancel my account" button. <br />
    Deleting your account will also delete all your contributions. Citizen Science Vaisigano is not able to find, delete, or de-identify any copies of your contributions that other users may have created. <br />
    Additionally, any contributions may already have been exported, shared and processed.  
  </p>

  <h3 class="title is-4">What about Cookies?</h3>
  <p class="block">
    Cookies are very small text files that are stored on your computer when you visit some websites.<br />
    We use cookies to help keep a track of whether you are logged in and to aid site navigation state.<br />
    You can disable any cookies already stored on your computer, but these may stop our website from functioning properly.<br />
    The site will remember that you are logged in and that your session is secure. You need to be logged in to contribute data.  <br />
  </p>

  <h3 class="title is-4">Other uses of your data</h3>

  <h4 class="title is-5">IP Addresses</h4>
  <p class="block">
    The IP address of each request is stored in the application and web server logs for the purpose of maintentance, security and abuse prevention.  Logs are not shared with any third party.
  </p>

  <h3 class="title is-4">License</h3>
  <p class="block">
    The software is provided "as is", without warranty of any kind, express or implied, including but not limited to the warranties of merchantability, fitness for a particular purpose and noninfringement. In no event shall the authors or copyright holders be liable for any claim, damages or other liability, whether in an action of contract, tort or otherwise, arising from, out of or in connection with the software or the use or other dealings in the software. 
  </p>









</main>