<main class="margin">
  <section>
    <h2 class="title is-3">Help using this site</h2>
    <h3 class="title is-4">Geolocation</h3>
      <p class="block">
       To automatically geolocate your contributions on the map, make sure that Location is turned on on your device, and click "Allow" when prompted <br />
       You might need to stand still for a few minutes to get better accuracy <br />
      </p>
       <p class="block">
       To enable location on your mobile phone, start by accessing the Settings menu. On most devices, you can find it either by swiping down from the top of the screen and tapping the gear icon or by locating the Settings app in your app drawer. Once you're in the Settings menu, scroll down and look for the "Location" or "Location Services" option. Tap on it to enter the location settings. From there, you can toggle the switch to turn on location services. It's worth noting that the exact steps may vary slightly depending on your mobile operating system.
      </p>
   

      <h3 class="title is-4">Contributing</h3>
      <p class="block">
       You can choose to contribute Physical, Chemical or Biological observations. Some measurements require the use of special equipment or a kit. 
      </p>
      <br />
      <!-- <h3 class="title is-4">Contact</h3>
      <p class="block">
      </p> -->

  </section>

</main>




