<main class="margin">
  <section>
    <h2 class="title is-3">Help using this site</h2>
      <p class="block">
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed auctor ex at quam tincidunt, id gravida eros finibus. Aenean tincidunt, lectus vitae consequat fermentum, nunc nisi vulputate lectus, id consequat neque ligula id tellus. Fusce posuere neque nec ex pellentesque lobortis. Integer consectetur feugiat nisi sed consequat. Proin nec fermentum risus. Ut sed risus non velit aliquet vulputate id non nunc. 
      </p>
      <p class="block">
       Nam tristique bibendum ligula, vitae tempor mi aliquam non. In convallis ligula nec metus lacinia eleifend. Morbi quis justo vel ex iaculis iaculis. Sed interdum dolor ut magna egestas, eget venenatis est rhoncus. Mauris auctor elit ut eros finibus efficitur. Nulla facilisi.
      </p>
  </section>

</main>