<main class="margin">
  <section>
    <h2 class="title is-3">Help using this site</h2>
    <h3 class="title is-4">Geolocation</h3>
      <p class="block">
       To automatically geolocate your contributions on the map, make sure that Location is turned on on your device, and click "Allow" when prompted <br />
       You might need to stand still for a few minutes to get better accuracy <br />
       Or you can click on the map manually. 
      </p>

      <h3 class="title is-4">Contributing</h3>
      <p class="block">
       You can choose to contribute Physical, Chemical or Biological observations. Some measurements require the use of special equipment or a kit. 
      </p>

  </section>

</main>