<% content_for :head do %>
  <%= stylesheet_link_tag "leaflet", "data-turbo-track": "reload" %>
  <%= javascript_include_tag "leaflet", "data-turbo-track": "reload" %>
<% end %>


<main class="margin">
  <section class="container column is-half  ">
  <h2 class="title is-3"><%= "Editing #{@survey.subtype.titlecase} Survey" %> </h2>

  <%= render "form", survey: @survey %>



  </section>
</main>
